<!DOCTYPE html>
<html>
<head>
	<header>
		<% include ../partials/header %>
	</header>
	<title>Book Categories</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
	<h2>Update category name for </h2>
	<form method="POST" action="/books/categories/<%= category[0].id %>?_method=PUT">
		New name: <input type="text" name="name" value='<%= category[0].name %>'>
		<input type="submit" value="Submit Changes">
	</form>
</body>
</html>