<!DOCTYPE html>
<html>
<head>
	<title>Add New Author</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
	<header>
		<% include ../partials/header %>
	</header>
	<% include ../partials/sidebar %>
	<% include ../partials/bookinfo %>
</body>
</html>