<div class='col-md-6'>
	<form method="POST" action='/authors/new'>
		<fieldset class="form-group">
		    <label for="name">Name:</label>
		    <br>
		    <input type="text" class="form-control" name="name" id="name" >
		    <br>
		    <label for="url">Portait URL:</label>
		    <br>
		    <input type="text" class="form-control" name="url" id="url" >
		    <br>
		    <label for="bio">Biography</label>
		    <br>
		    <textarea class="form-control" name="bio" id="bio"></textarea>  		
		    <br>
		    <div class="row">
			    <div class="col-md-6">
			    	<label for="bookList">Books</label>
			    	<br>
			    	<select multiple class="form-control" name="bookList" id="bookList">
		 	    		<% books.forEach(function(book) { %>
		     				<option value='<%= book.id %>'><%= book.title %></option>
		     			<% }) %>
			    	</select>
			    </div>
		    </div>
		    <br>
		    <input type='submit' value='Add Author'>
		</fieldset>
	</form>
</div>