<div class='col-md-6'>
	<form method="POST" action='/authors/new'>
		<fieldset class="form-group">
		    <label for="name">Name:</label>
		    <br>
		    <input type="text" class="form-control" name="name" id="name" >
		    <br>
		    <label for="url">Portait URL:</label>
		    <br>
		    <input type="text" class="form-control" name="url" id="url" >
		    <br>
		    <label for="bio">Biography</label>
		    <br>
		    <textarea class="form-control" name="bio" id="bio"></textarea>
		    <button type='submit'>Add Books</button>
		</fieldset>
	</form>
</div>