<div class='col-md-6'>
	<form method="POST" action='/books/new'>
		<fieldset class="form-group">
		    
		    <label for="title">Title:</label>
		    <br>
		    <input type="text" class="form-control" name="title" id="title" >
		    <br>
		    
		    <label for="category">Category:</label>
		    <br>
		    <input type="text" class="form-control" name="category" id="category" >
		    <br>
		    
		    <label for="url">Cover Image URL:</label>
		    <br>
		    <input type="text" class="form-control" name="url" id="url" >
		    <br>
		    
		    <label for="description">Description</label>
		    <br>
		    <textarea class="form-control" name="description" id="description"></textarea>
		    
		    <button type='submit'>Add Books</button>
		</fieldset>
	</form>
</div>